.navGroup {
  width: auto;
  float: right;
  margin-top: 8px;
}

/* .main-page{
    background-color:rgb(228, 178, 163);
} */
.dropDown {
  margin-right: 1vw;
  margin-left: 7vw;
  height: 2.95vw;
  border: none;
  color: rgb(255, 243, 218);
  background-color: rgb(248, 165, 70);
  border-radius: 0.5vw;
  width: 17vw;
  font-size: 1.3vw;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.searchBar {
  width: 20vw;
  height: 3vw;
  border: none;
  margin-left: 0.5vw;
}

.searchForm {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 193, 104, 1) 0%,
    rgba(251, 128, 128, 1) 90%
  );
  margin: 2vw 20vw;
  padding: 0.5vw;
  border-radius: 1vw;
}
.searchBtn {
  background-color: rgb(240, 106, 106);;
  border-radius: 1vw;
  height: 3vw;
  text-align: center;
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  margin: 1vw;
  width: 6vw;
}
.navLink:hover {
  /*  background-color: rgb(233, 112, 112); */
  color: wheat;
  text-decoration: none;
  font-size: 1.5vw;
}
.navLink {
  display: inline-block;
  text-align: center;
  color:black;
  padding: 1vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  margin-top: 1.5vw;
  font-size: 1.3vw;
  text-decoration: none;
}
.header {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 193, 104, 1) 0%,
    rgba(251, 128, 128, 1) 90%
  );
  width: 100%;
  border-radius: 1vw;
  height: 8vw;
  /* color: rgb(255, 243, 218); */
  color:black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header-title {
  position: absolute;
  font-size: 4vw;
  padding: 1vw;
  margin-left: 0.5vw;
  float: left;
}

.toolTip {
  width: 8vw;
  height: 12vw;
  float: left;
  margin: 0.2vw;
}

.input {
  width: 30vw;
  height: 3vw;
  font-size: 1.5vw;
  color: rgb(240, 106, 106);
}
.label {
  font-size: 1.5vw;
  margin-left: 20vw;
  color: rgb(240, 106, 106);
}

.bookDiv {
  margin: 3vw;
  padding: 0.5vw;
  display: inline-block;
  width: 40vw;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 193, 104, 1) 0%,
    rgba(251, 128, 128, 1) 90%
  );
}

.bookDetails {
  display: inline-block;
}

.addForm {
  margin: 2vw 8vw;
  padding: 1vw;
  padding-top: 0.1vw;
}

.submitBtn {
  margin-left: 35vw;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 193, 104, 1) 0%,
    rgba(251, 128, 128, 1) 90%
  );
  border-radius: 1.5vw;
}

.color-for-div {
  color: white;
}

.subData {
  margin: 0.5vw;

}

.large-image {
  max-width: 30vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  box-shadow: 1vw 1vw 1vw gray;
  float: left;
}

.book-display {
  margin: 1vw;
  padding: 2vw;
}

.book-content {
  margin: 1vw;
  color: rgb(240, 106, 106);
}

.span-content {
  display: inline-block;
  margin-right: 20vw;
}

.delete-btn {
  display: inline-block;
  text-align: center;
  color: whitesmoke;
  padding: 1vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  font-size: 1.3vw;
  text-decoration: none;
  margin-left: 60vw;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 193, 104, 1) 0%,
    rgba(251, 128, 128, 1) 90%
  );
  border-radius: 1.5vw;
}
.stars-background {
  display: inline-block;
  position: relative;
  font-family: FontAwesome; 
  }
  .stars-background::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  color:#f8ce0b; 
  }

  .fa-inner {
    position: absolute;
    top: 0;
    left: 0; 
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
  }
  .fa-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }